@media screen and (min-width: 782px) {


}

.is-style-hody-sgpd-transparent-part > div {
    background: transparent !important;
}
.is-style-hody-sgpd-transparent-part {
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: space-between; 
}
.is-style-hody-sgpd-transparent-part *, .is-style-hody-sgpd-transparent-part > * {
    z-index: 20;
    }
.admin-bar .is-style-hody-sgpd-transparent-part {
		top: 32px !important;
	}